h4 {
    font-family: 'Raleway', sans-serif;
    
}

.titleText{
    font-size: 2em;
}

.linkText{
    font-family: 'Raleway', sans-serif;
}

.image {
    width: 100%;
}

.wrapper1 {
    
}

.wrapper2{

}

.wrapper3 {
    background-color: rgb(240, 240, 240);
}