.titleText{
    font-family: 'Raleway', sans-serif;   
    font-size: 1.7em;
    margin: 10px;
}

a {
    text-decoration:none;
}

.linkText:hover {
    text-decoration: underline;
}

.linkText{
    font-family: 'Raleway', sans-serif;
    color: black;
}

.articleImage {
    width: 100%;
}

.wrapper1 {
    
}

.articleWrapper {

}

.articleCard {
    background-color: rgb(240, 240, 240);
}

@media (min-width: 768px){
    .articleCard {
        background-color: lightskyblue;
    }

    a {
        margin: 2%;
    }

    .pageWrapper {
        display: flex;
        justify-content: center;
    }

    .wrapper1 {
        max-width: 900px;
    }

    .articleImage {
        width: 45%;
    }

    .testDiv {
        display: flex;
    }
}