.titleText{
    font-family: 'Raleway', sans-serif;   
    font-size: 1.7em;
    margin: 10px;
}

a {
    text-decoration:none;
}

.linkText:hover {
    text-decoration: underline;
}

.linkText{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 4%;
    font-size: 1.3em;
}

.articleImage {
    width: 100%;
    margin: 5px;
    border-radius: 15px;
}

.articlesWrapper {
    background-color: rgb(240, 240, 240);
}

.articleCard {
    background-color: white;
    border-radius: 15px;
    margin: 35px 0px;
}



.header {
    background-color: #2D2E83;
    display: flex;
    justify-content: space-between;
  }

  .headerText {
      font-size: 35px;
      color:white;
      margin: 25px;
  }
  


@media (min-width: 768px){
    .articleCard {
        /* background-color: lightskyblue; */
        margin: 35px 10px;
    }

    a {
        margin: 2%;
    }

    .pageWrapper {
        display: flex;
        justify-content: center;
    }

    .articlesWrapper {
        max-width: 900px;
    }

    .articleImage {
        width: 45%;
    }

    .testDiv {
        display: flex;
    }
}